<%= image_tag @image.image_file.url if @image.image_file.present? %>
<p>
  <strong>Uploaded at:</strong>
  <%= @image.created_at %>
</p>
<p>
  <strong>File URL:</strong>
  <%= @image.image_file.url if @image.image_file.present? %>
</p>