<div class="container">
  <div class="painting-container">
    <div class="painting-header">
      <h1 class="painting-title"><%= @image.title %></h1>
    </div>
    
    <div class="painting-image-wrapper">
      <%= image_tag @image.image_file.url, alt: @image.title, class: "painting-image" if @image.image_file.present? %>
    </div>
    
    <div class="painting-info">
      <p><%= @image.created_at.strftime("%B %d, %Y") %></p>
      <div>
        <%= link_to "â† Back", :back, class: "painting-back-link" %>
      </div>
    </div>
  </div>
</div>